<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon.png" type="image/icon type">
    <link rel="stylesheet" href="../static/index.css">
    <title>Remove Background White</title>

</head>

<body>
    <h2>Upload File For Test Remove Background <span style="color:tomato;font-size:20px">White</span></h2>
    <p class="lead">Only images with <b> white background images are supported</b></p>
    <form method="post" enctype="multipart/form-data" id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a file or drag here</div>
                <div id="notimage" class="hidden">Please select an image</div>
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
                <div id="messages"></div>
                <button class="btn btn-primary" type="submit">Process Image</button>
            </div>


        </label>
        <p class="lead">dev website by <a href="https://github.com/watchakorn-18k" target="_blank">wk-18k </a></p>
    </form>
    <script src="../static/index.js"></script>
</body>

</html>