<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <style>
        #back {
            color: #fff;
            font-size: 20px;
            background: #0069c4;
            padding: 20px;
            border: 1px solid;
            border-radius: 20px;
        }
    </style>

</head>

<body>
    <center>
        <div style="background-color:#ceefee">
            <img src="../static/test1.png" width="500">
        </div>
        <br>
        <a href="/"><button id="back">กลับ</button></a>
    </center>
</body>

</html>